ul {
    list-style-type: none;
    width:100%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
   
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:auto;
    height: auto;
}

li a:hover {
    background-color: #3c3c3c;
    height: auto;
}
#menu {float: left;border-style: solid;width: 100%;position: relative; }

.foto_icon{width:3%;position: absolute;}

.title{padding-left: 4%; width:10%;height:50px;position: fixed; top :4%;}

.menu_f{width:34%;position: fixed; left:66%;}

